footer {
	background-color: var(--color-dark-green);
	padding: 3rem 0 1rem;

	@media (min-width: $bp-desktop) {
		padding: 5rem 0 2rem;
	}

	&,
	a {
		color: white;
	}
}

.footer-links-ctn {
	justify-self: start;

	@media (min-width: $bp-tablet) {
		justify-self: end;
	}
}

.footer-links {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-family: var(--font-plex-mono);

	@media (min-width: $bp-tablet) {
		text-align: right;
	}

	a {
		display: inline-block;
		padding: 0.1rem 0;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 0.875rem;
		opacity: 0.6;

		&:hover,
		&:focus {
			text-decoration: underline;
			opacity: 1;
		}
	}
}

.copyright-and-socials {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding-top: 2rem;
	font-family: var(--font-plex-mono);
}

.copyright {
	font-size: 0.75rem;
	opacity: 0.6;
}

.socials {
}

.social-links {
	display: flex;
	justify-content: flex-end;
	margin: 0;
	margin-right: -0.625rem; /* pull it to the right so the last icon lines up with the grid */
	padding: 0;
	list-style-type: none;

	a {
		text-decoration: none;
		font-size: 1.375rem;
		opacity: 0.6;
		display: inline-block;
		padding: 0.625rem;

		&:hover,
		&:focus {
			opacity: 1;
		}
	}
}
