.hero {
	color: white;
	background-color: var(--color-dark-green);
	padding-top: calc(var(--nav-height-mobile) + 30px);

	@media (min-width: $bp-desktop) {
		padding-top: var(--nav-height-desktop);
	}

	h1 {
		visibility: hidden;

		em {
			font-style: normal;
		}

		&.anim {
			visibility: visible;

			span {
				opacity: 1;
				left: 0;
			}

			em {
				animation-name: h1-highlight;
				animation-duration: 1s;
				animation-timing-function: ease-in;
				animation-fill-mode: forwards;
			}
		}

		span {
			position: relative;
			opacity: 0;
			left: 30px;
			transition: opacity 0.8s ease-in, left 1.3s cubic-bezier(0.25, 0.67, 0.38, 0.92);
		}
	}
}

.hero-img-ctn {
	position: relative;
	overflow: hidden;

	&:before {
		content: '';
		background-color: var(--color-dark-green);
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform: scaleY(0.5);
		transform-origin: top;
	}

	.container {
		position: relative;
	}

	picture {
		display: block;
		background-color: white;
	}

	&.anim {
		.hero-img {
			visibility: visible;
			opacity: 1;
			transform: scale(
				1.01
			); //.01 only because I accidentally exported the image with an extra px of white on the right and I'm too lazy to re-export all the various renditions. :(
			transition: opacity 2s linear, transform 8s ease-in-out;
		}

		.bra-cup {
			animation-name: bra-cup-anim;
		}
	}
}

.hero-img-ctn-inner {
	border-radius: 32px;
	overflow: hidden;
}

.hero-img {
	display: block;
	visibility: hidden;
	transform-origin: bottom;
	transform: scale(1.2);
	opacity: 0;
}

.selling-points {
	list-style: none;
	margin: 0;
	padding: 2rem 0;
	font-size: 0.875rem;
	line-height: 1.43;
	letter-spacing: -0.04em;
	color: rgba(255, 255, 255, 0.6);

	@media (min-width: $bp-desktop) {
		padding: 3.5rem 0;
	}

	li {
		--init-anim-delay: 3s;
		--anim-stagger: 0.8s;
		--extra-clip-path-delay: 0.3s;
		padding-left: 28px;
		position: relative;

		span {
			display: inline-block;
			clip-path: polygon(-120% 0%, 0% 0%, -20% 100%, -120% 100%);
			animation-name: selling-point-anim;
			animation-fill-mode: forwards;
			animation-duration: 0.5s;
			animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
		}

		&:before {
			content: '';
			background-image: url(/assets/svgs/check-circle.svg);
			background-repeat: no-repeat;
			background-size: contain;
			width: 16px;
			height: 16px;
			position: absolute;
			top: 4px;
			left: 0;
			opacity: 0;
			transform: scale(2);
			animation-name: checkmark-anim;
			animation-fill-mode: forwards;
			animation-duration: 0.7s;
			animation-timing-function: cubic-bezier(0.49, 0.15, 0.5, 0.97);
		}

		&:nth-child(1) {
			span {
				animation-delay: calc(var(--init-anim-delay) + var(--extra-clip-path-delay));
			}

			&:before {
				animation-delay: var(--init-anim-delay);
			}
		}
		&:nth-child(2) {
			span {
				animation-delay: calc(var(--init-anim-delay) + (var(--anim-stagger) * 1) + var(--extra-clip-path-delay));
			}

			&:before {
				animation-delay: calc(var(--init-anim-delay) + (var(--anim-stagger) * 1));
			}
		}
		&:nth-child(3) {
			span {
				animation-delay: calc(var(--init-anim-delay) + (var(--anim-stagger) * 2) + var(--extra-clip-path-delay));
			}

			&:before {
				animation-delay: calc(var(--init-anim-delay) + (var(--anim-stagger) * 2));
			}
		}
		&:nth-child(4) {
			span {
				animation-delay: calc(var(--init-anim-delay) + (var(--anim-stagger) * 3) + var(--extra-clip-path-delay));
			}

			&:before {
				animation-delay: calc(var(--init-anim-delay) + (var(--anim-stagger) * 3));
			}
		}
	}
}

@keyframes checkmark-anim {
	40% {
		opacity: 1;
		transform: scale(3);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes selling-point-anim {
	to {
		clip-path: polygon(0% 0%, 120% 0%, 100% 100%, 0% 100%);
	}
}

/* 
Orange and green "bra" cup SVGs that float on top of sugarcane image.
Sizes and positions are relative to size of image.
*/
.bra-cup {
	position: absolute;
	background-repeat: no-repeat;
	background-size: contain;
	pointer-events: none;
	// aspect-ratio: 712/328;
	aspect-ratio: 1;
	clip-path: polygon(50% 0%, -50% 0%, -50% -200%, 150% -200%, 150% 0%);
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.25, 0.48, 0.81, 0.56);
}

.green-cup {
	background-image: url(/assets/svgs/cup-green.svg);
	width: 58%;
	left: 68%;
	top: 6%;
	animation-delay: 2s;
}

.orange-cup {
	background-image: url(/assets/svgs/cup-orange.svg);
	width: 35%;
	left: -22%;
	top: 60%;
	transform: scaleX(-100%);
	animation-delay: 2.4s;
}

@keyframes h1-highlight {
	to {
		color: var(--brand-color-secondary);
	}
}

@keyframes bra-cup-anim {
	0% {
		clip-path: polygon(50% 0%, -50% 0%, -50% -200%, 150% -200%, 150% 0%);
	}

	40% {
		clip-path: polygon(50% 0%, 50% 100%, -50% 100%, -50% -50%, 50% -50%);
	}

	100% {
		clip-path: polygon(50% 0%, 150% 0%, 150% 200%, -50% 100%, -50% 0%);
	}
}
