.intro {
	margin-top: 2.875rem;

	.grid {
		grid-row-gap: 0;
	}

	@media (min-width: $bp-desktop) {
		margin-top: 7.5rem;

		/* fudge its position to line-up with "How we make it" */
		h3 {
			margin-top: -0.166em;
		}
	}
}
