:root {
	font-family: var(--font-inter);
	line-height: 1.4;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	min-height: 100vh;
	background-color: var(--color-light-green);
	color: var(--color-dark-green);
}

img {
	display: block;
	margin: 0;
	max-width: 100%;
	width: 100%;
}

h1 {
	font-size: 2rem;
	font-weight: 400;
	line-height: 1;
	letter-spacing: -0.04em;
	margin: 2.375rem 0 0;

	@media (min-width: $bp-tablet) {
		font-size: 3rem;
	}

	@media (min-width: $bp-desktop) {
		font-size: 4rem;
	}
}

h2 {
	margin: 0 0 0.5rem;
	color: var(--color-dark-green);
	opacity: 0.6;
	font-family: var(--font-plex-mono);
	font-size: 0.625rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.14;
	text-transform: uppercase;

	@media (min-width: $bp-tablet) {
		font-size: 0.75rem;
	}

	@media (min-width: $bp-tablet) {
		margin: 0;
		font-size: 0.875rem;
	}
}

h3 {
	margin: 0 0 0.5rem;
	color: var(--color-dark-green);
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.16;
	letter-spacing: -0.04em;

	@media (min-width: $bp-tablet) {
		font-size: 2rem;
		margin: 0 0 1rem;
	}

	@media (min-width: $bp-desktop) {
		font-size: 3rem;
		margin: 0 0 2.5rem;
	}
}

.p-large {
	margin: 0 0 2.875rem;
	color: var(--Dark-Green, #30493c);
	opacity: 0.6;
	font-family: Inter;
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: 28px; /* 140% */
	letter-spacing: -0.8px;

	@media (min-width: $bp-tablet) {
		font-size: 1.25rem;
	}
}
